@import "../../settings/colors";
@import "../../settings/typography";

.content-block {
    display: flex;
    width: 100%;
    box-sizing: border-box;

    &__container {
        max-width: 395px;
    }

    &__title {
        @include font-heading();
        text-transform: uppercase;
        font-size: 20px;
        color: $orange;
    }

    &__content {
        @include font-heading();
        text-transform: uppercase;
        font-size: 50px;
        color: $white;
    }
}