@import "../../settings/colors";
@import "../../settings/typography";

.content-block {
    display: block;

    &__title {
        @include font-heading();
        text-transform: uppercase;
        font-size: 20px;
        color: $orange;
    }

    &__content {
        @include font-heading();
        text-transform: uppercase;
        font-size: 60px;
        color: $white;
    }
}