@import "../../settings/colors";
@import "../../settings/typography";

.gallery {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    &__header {
        display: flex;
        position: relative;
        width: calc(100% - 150px);
        padding: 50px 115px 0;
        box-sizing: border-box;
        max-width: 1060px;
        left: calc(50% + 75px);
        transform: translateX(-50%);
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 40px;
    }

    &__title {
        @include font-heading();
        text-transform: uppercase;
        font-size: 80px;
        color: $white;        
    }

    &__counter {
        @include font-heading();
        font-size: 40px;
        color: $grey;
    }

    &__container {
        position: relative;
        max-width: 1060px;
        width: calc(100% - 150px);
        padding: 0 115px 0;
        left: calc(50% + 75px);
        transform: translateX(-50%);
        box-sizing: border-box;
    }

    &__carousel {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        cursor: pointer;
    }

    &__item {
        margin-right: 120px;
        transform: scale(1);
        transition: transform 0.2s linear;

        &--active {
            transform: scale(0.95);
        }
    }

    &__image {
        user-select: none;
    }
}