@import "../settings/colors";

.page-transition {
    &__overlay { 
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform-origin: 100% 0;
        background-color: $purple;
        z-index: 10;
    }
}
