@import "../settings/colors";
@import "../settings/typography";

.festival {
    position: relative;
    width: calc(100% - 150px);
    padding: 50px 115px 0;
    box-sizing: border-box;
    max-width: 1000px;
    left: calc(50% + 75px);
    transform: translateX(-50%);


    &__item {
        padding: 5px;
    }

    &__header {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

    &__art-header {
        display: block;
        position: relative;
        max-width: 550px;
        transform: translateX(-50%);
        left: 50%;
        margin-bottom: 60px;
    }

    &__date {
        @include font-heading();
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 20px;
        font-weight: bold;
    }

    &__short-description {
        position: relative;
        max-width: 550px;
        margin-bottom: 60px;
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
    }

    &__header-image {
        width: 100%;
        margin-bottom: 60px;
    }

    &__description {
        position: relative;
        max-width: 550px;
        margin-bottom: 60px;
        padding: 0 48px;
        left: 50%;
        transform: translateX(-50%);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            margin: 0 22px;
            background-color: $purple;
        }
    }
}