@import "../settings/colors";
@import "../settings/typography";

.button-link {
    display: flex;
    align-content: center;
    align-items: center;
    user-select: none;

    &__heading {
        @include font-heading();
        font-size: 2em;
        line-height: 1em;
        color: $white;
        text-transform: uppercase;
    }

    &__container {
        position: relative;
        margin-left: 20px;
    }

    &__emoji {
        display: block;
        position: absolute;
        left: calc(50% + 10px);
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 2em;
    }
}