@import "../settings/colors";

.columns {
    display: block;
    position: absolute;
    min-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;

    &__column {
        display: inline-block;
        height: 100%;
        width: 260px;
        border-left: 2px solid $orange;
        box-sizing: border-box;
    }
}
