@import "../settings/colors";
@import "../settings/typography";

.festival-item {
    &__content {
        position: relative;
        display: block;
    }

    &__heading {
        @include font-heading();
        text-transform: uppercase;
        color: $white;
    }

    &__image-container {
        display: block;
        position: absolute;
        bottom: -300px;
        height: 343px;
        width: 200px;
        transform-origin: bottom left;
        z-index: -1;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
    }

    &__overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transform-origin: 0 0;

        &--white {
            background-color: $black;
        }

        &--purple {
            background-color: $purple;
        }
    }

    &__start-date {
        @include font-heading();
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    
    &__divider {
        height: 2px;
        width: 15px;
        background-color: $white;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    
    &__end-date {
        @include font-heading();
        font-size: 17px;
        font-weight: bold;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    
    &__logo {
        max-width: 250px;
    }    
}

