@import "../settings/typography";
@import "../settings/colors";

.festivals-list {
    display: flex;

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1;
        min-width: 520px;
        height: 100vh;
        z-index: 2;
        align-items: stretch; 
        justify-content: space-between;
    }

    &__festival {
        display: block;
        flex: 0 1 auto;
        flex-basis: auto;
    }

    &__month {
        @include font-heading;
        position: absolute;
        bottom: 50px;
        left: 28px;
        font-size: 20px;
        z-index: 2;

        &:before {
            content: '';
            height: 3px;
            width: 24px;
            background-color: $white;
            position: absolute;
            top: calc(50% - 4px);
            transform: translateY(-50%);
            left: -40px;
        }
    }
}
