@import "../settings/typography";
@import "../settings/colors";

.intro {
    display: flex;
    width: 495px;
    height: 100vh;
    align-items: center;
    justify-content: center;

    &__container {
        max-width: 340px;
    }

    &__header {
        @include font-heading();
        color: $white;
        font-size: 80px;
        line-height: 75px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    &__description {
        @include font-heading();
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        opacity: 0.3;
    }
}
