@import "../settings/typography";
@import "../settings/colors";

.intro {
    position: relative;
    display: flex;
    width: 495px;
    height: 100vh;
    align-items: center;
    justify-content: center;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $orange;
        z-index: 7;
    };

    &__container {
        max-width: 340px;
    }

    &__header {
        @include font-heading();
        color: $white;
        font-size: 80px;
        line-height: 75px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    &__description {
        @include font-heading();
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        opacity: 0.3;
    }
}
