@import "../settings/colors";

.sidebar {
    display: block;
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: $purple;
    z-index: 999;

    &__content {
        position: absolute;
        color: $white;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }
}
