@import "../../settings/colors";

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    position: absolute;
    min-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    pointer-events: none;
    overflow-x: hidden;
    user-select: none;
    border-left: 2px solid $orange;
    box-sizing: border-box;
    z-index: 7;

    &::-webkit-scrollbar {
        display: none;
    }

    &__column {
        position: relative;
        height: 100vh;
        border-right: 2px solid $orange;
        box-sizing: content-box;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $orange;
    }
}
