@import "../../settings/colors";
@import "../../settings/typography";

.list-item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
    &__container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__image-container {
        display: block;
        position: absolute;
        height: 300px;
        width: 460px;
        transform-origin: bottom left;
        z-index: -1;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        user-select: none; 
    }

    &__content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        text-align: right;
        z-index: 2;

        &--even {
            top: 25%;
        }

        &--odd {
            bottom: 25%;
            z-index: 3;
        }
    }

    &__heading {
        @include font-heading();
        font-size: 4em;
        line-height: 1em;
        text-transform: uppercase;
        color: $white;
        margin: 0;
        user-select: none;
    }

    &__words {
        background-color: $orange;
    }

    &__countdown {
        @include font-heading();
        font-size: 20px;
        color: $grey;
        text-transform: uppercase;
        transform: translateX(-10px);
        user-select: none;
    }

    &__start-date {
        @include font-heading();
        font-size: 17px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    
    &__divider {
        height: 2px;
        width: 15px;
        background-color: $white;
        padding-left: 10px;
        margin-left: 8px;
        margin-bottom: 5px;
    }
    
    &__end-date {
        @include font-heading();
        font-size: 17px;
        font-weight: bold;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    
    &__logo {
        max-width: 250px;
    }    
}

