@import "../settings/colors";
@import "../settings/typography";

.festival {
    position: relative;
    width: calc(100% - 150px);
    padding: 50px 115px 0;
    box-sizing: border-box;
    max-width: 1060px;
    left: calc(50% + 75px);
    transform: translateX(-50%);

    &__item {
        padding: 5px;
    }

    &__title {
        @include font-heading();
        font-size: 4em;
        line-height: 1em;
        text-transform: uppercase;
        color: $white;
        margin: 0;
    }

    &__date {
        @include font-heading();
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 20px;
        font-weight: bold;
    }

    &__description {
        position: relative;
        max-width: 550px;
        margin-bottom: 60px;
    }
}