@import "../settings/colors";
@import "../settings/typography";

.festival {
    &__container {
        position: relative;
        width: calc(100% - 150px);
        padding: 50px 115px 0;
        box-sizing: border-box;
        max-width: 1060px;
        left: calc(50% + 75px);
        transform: translateX(-50%);
    }

    &__item {
        margin-top: 150px;
        padding: 5px;
        margin-bottom: 150px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        margin-bottom: 105px;
    }

    &__title {
        @include font-heading();
        font-size: 120px;
        line-height: 1em;
        text-transform: uppercase;
        color: $white;
        max-width: 520px;
    }

    &__buy-tickets {
        margin-left: auto;
    }

    &__description-container {
        position: relative;
    }

    &__description {
        @include font-bold();
        font-size: 25px;
        position: relative;
        max-width: 420px;
        margin-bottom: 60px;
        z-index: 2;
    }

    &__aftermovie {
        position: absolute;
        top: -75px;
        right: 0;
        z-index: 1;
    }

    &__footer {
        display: flex;
        flex-direction: column;
    }

    &__footer-header,
    &__footer-buttons {
        display: flex;
        justify-content: center;
    }

    &__footer-header {
        margin-bottom: 70px;
    }

    &__footer-title {
        @include font-heading();
        text-transform: uppercase;
        display: inline-block;
        font-size: 90px;
        line-height: 95px;
        max-width: 680px;
    }

    &__footer-button {
        margin-right: 50px;
    }
}