@import "../settings/colors";
@import "../settings/typography";

.home {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &__show-months {
    @include font-heading();
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $orange;
    padding: 15px 15px 10px;
    color: $white;
    cursor: pointer;
    z-index: 7;
  }
}
