$font_path: '~@/assets/fonts/';

@font-face {
    font-family: KorolevHeavy;
    src: url($font_path + 'KorolevHeavy.otf');
}

@font-face {
    font-family: KorolevMedium;
    src: url($font_path + 'KorolevMedium.otf');
}

// Font stacks
@mixin font-heading() {
    font-family: 'KorolevHeavy', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

@mixin font-body() {
    font-family: 'KorolevMedium', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
